.wheel-picker-container {
  --item-height: 50px;
  // background-color: #fff;
  background-color: rgb(224, 224, 224);
  width: 100%;
  height: calc(3 * var(--item-height));
  position: relative;
  overflow: hidden;
  overscroll-behavior: contain;

  .wheel-container {
    position: relative;
    height: 100%;
    padding-top: var(--item-height);

    .handle {
      will-change: transform;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        user-select: none;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
  .overlay-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .active-panel {
      height: var(--item-height);
      width: 100%;
      border-top: 1.5px solid #aeaeae;
      border-bottom: 1.5px solid #aeaeae;
      position: relative;
      --passive-overlay-pos: calc(-1 * (var(--item-height) + 1px));

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: var(--item-height);
        width: 100%;
        // background-color: #fff;
        background-color: rgb(224, 224, 224);
        opacity: 0.6;
        pointer-events: none;
        z-index: 1;
      }

      &::before {
        top: var(--passive-overlay-pos);
      }
      &::after {
        bottom: var(--passive-overlay-pos);
      }
    }
  }
}